.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
  background: transparent;
  color: black;
  border-radius: 8px;
  height: 35px;
  margin: 4px 10px;
  background: white;
  border: none;
  font-weight: 500;
}

.fc .fc-button-primary {
  background: transparent;
  border: none;
  color: black;
  margin: 4px 10px;
}

.fc .fc-button-primary:not(:disabled).fc-button-active:focus,
.fc .fc-button-primary:not(:disabled):active:focus,
.fc .fc-button-primary:focus {
  box-shadow: none;
}

.fc .fc-button-primary:hover {
  background-color: white;
  color: black;
  border-radius: 8px !important;
}

.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
  border-radius: 8px;
  background: #f4f4f4;
  height: 42px;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
  margin-left: 0;
}

button.fc-today-button.fc-button.fc-button-primary {
  border-radius: 8px !important;
  &:disabled {
    background-color: #184135;
    border: none;
    pointer-events: none;
    opacity: 1;
  }
}

.fc-prev-button,
.fc-next-button {
  margin: 0 !important;
  height: 80px !important;
  &:hover {
    span {
      transform: scale(1.2);
      transition: all 0.2s;
    }
  }
}

.logout-btn {
  height: 36px;
  border-radius: 100px;
}

.logout-btn:hover {
  transform: scale(1.05);
}

/* toolbar */
.fc .fc-toolbar-title {
  display: none;
  color: #364d42;
  font-size: 21px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.175px;
  max-width: 15rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* dayHeaderContent */
thead .fc-scroller {
  overflow: hidden !important;
}

.headerDay {
  color: var(--Green, #184135);
  font-size: 24px;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
  letter-spacing: 0.12px;
}

.headerWeekday {
  color: var(--secondary, #818181);
  font-size: 14px;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
  letter-spacing: 0.07px;
}

/* slots */
colgroup > col {
  width: 126px !important;
}

td.fc-timegrid-slot.fc-timegrid-slot-label.fc-scrollgrid-shrink.slotTimes {
  height: 100px;
  width: 126px;
  display: flex;
  border: none;
  place-items: flex-start;
  justify-content: center;
}

/* font styles for slot times */
.fc-timegrid-slot-label-cushion.fc-scrollgrid-shrink-cushion {
  color: #b9b9b9;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 12px */
  letter-spacing: 0.05px;
  position: absolute;
  left: 0;
  padding: 0 38px;
  margin-top: -5px;
}

/* Calendar grid layout */
.fc-toolbar,
.fc-scroller-harness {
  text-transform: capitalize;
}

th.fc-col-header-cell.fc-day {
  height: 48px;
  padding: 8px 16px;
}

// weekdays
.fc .fc-col-header-cell-cushion {
  padding: 8px;
}

// weekday today box
th.fc-col-header-cell.fc-day.fc-day-today.dayHeader {
  background: #e0e9e6;
  & a {
    background: #557b6b;
    border-radius: 8px;
    // padding: 8px;
    & .headerDay,
    .headerWeekday {
      color: white;
    }
  }
}

//cell today background
.fc .fc-timegrid-col.fc-day-today {
  background: white;
}

//events styles
.own-event {
  padding: 10px;
  margin: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
  height: 5.2rem;
  &.fc-v-event .fc-event-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
  }
  &:hover {
    transform: scale(1.05);
    transition: all 0.2s;
  }
  &__closeTime {
    height: auto;
    background-color: #848a88 !important;
    z-index: 1000;
    &:hover {
      transform: scale(1);
      cursor: not-allowed;
    }
  }
  &__history {
    background-color: #576763 !important;
    border: 1px solid #576763 !important;
    border-radius: 8px;
  }
}

.fc-v-event .fc-event-main-frame {
  flex-flow: column-reverse;
  justify-content: flex-end;
}

.fc-v-event .fc-event-title-container {
  flex-grow: 0;
}

.fc-v-event .fc-event-title {
  font-weight: 500;
}

a.fc-event.fc-event-start.fc-event-end.fc-event-past.fc-timegrid-event.fc-v-event.own-event {
  cursor: pointer;
  transition: all 0.2s;
}

a.fc-event.fc-event-start.fc-event-end.fc-event-past.fc-timegrid-event.fc-v-event.own-event:hover {
  transform: scale(1.03);
  transition: all 0.2s;
}

button.fc-today-button.fc-button.fc-button-primary:hover {
  color: white;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0;
}

.fc.fc-media-screen.fc-direction-ltr.fc-theme-standard {
  height: calc(100vh - 120px);
}

// responsive
@media (max-width: 767px) {
  .fc .fc-toolbar.fc-header-toolbar {
    padding: 0 1rem;
    background: #184135;
    width: 100%;
    justify-content: space-between;
    margin: 0;
    transform: scaleY(1.02);
    & .fc-icon-chevron-right::before,
    .fc-icon-chevron-left::before {
      color: white;
    }
  }

  .fc-toolbar-chunk .fc-button-group .fc-timeGridWeek-button,
  .fc-button-group .fc-timeGridDay-button {
    display: none;
  }
}

@media (min-width: 768px) {
  .fc .fc-toolbar-title {
    display: block;
  }
  .fc-toolbar-chunk .fc-button-group {
    display: block;
  }
  .fc.fc-media-screen.fc-direction-ltr.fc-theme-standard {
    height: calc(100vh - 150px);
  }
}

@media (min-width: 1024px) {
  .fc .fc-toolbar-title {
    max-width: 20rem;
  }
}
